{% extends 'base.html'%}
{% block title %}
Acceuil
{% endblock title %}
{% block content %}
<section class="section">
    <div class="container">
      <h1 class="title">
        Bienvenue dans l'assistant de configuration de SociaBot {{username}} ! 
      </h1>
      <p class="subtitle">
        Choisissez l'un des onglets ci-dessus pour configurer l'application.
      </p>
      <p class="subtitle">
        Cliquez votre profil pour avoir accès au lien d'invitation du bot.
      </p>
    </div>
  </section>
{% endblock content %}