{% extends 'base.html'%}
{% block title %}
Twitter
{% endblock title %}
{% block twitter_active %} is-active {% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        {% if confirm_tw_added == True %}
        <div class="notification is-success">
            <button class="delete"></button>
            Bravo ! Votre compte twitter à été lié à votre compte.
            Vous pouvez passer à la configuration.
        </div>
        {% endif %}
        {% if tw_already_exist == True %}
        <div class="notification is-danger">
            <button class="delete"></button>
            Ce compte twitter est déja enregistré !
        </div>
        {% endif %}
        <div class="columns">
            <div class="column is-one-fifth"></div>
            <h1 class="title column">
                Bienvenue dans l'assistant de configuration de SociaBot {{username}} !
            </h1>
        </div>
        <div class="level">
            <a class="level-item has-text-centered button twitter-invite"
                href="https://api.twitter.com/oauth/authenticate?oauth_token={{ro_key}}">
                Connecter votre compte Twitter
            </a>
        </div>
        {% if twitter_accounts is not none %}
        <div id="twitter">
            {% for i in range(bot_user_guilds|length) %}
            <div class="twitter-update">
                <div class="level {{bot_user_guilds[i].id}}">
                    <div class="level-item has-text-centered subtitle">
                        Utiliser le compte :
                    </div>
                    <div class="dropdown level-item has-text-centered twitter_accounts" id="use_account">
                        <div class="dropdown-trigger">
                            <button onclick="toggleDropdown(this);" class="button" aria-haspopup="true"
                                aria-controls="dropdown-menu">
                                <span id="item-selected">Selectionnez un compte</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu twitter_account_dropdown" id="use_account_dropdown" role="select">
                            <div class="dropdown-content">
                                <a onclick="twitter_account_id = 'None'" class="dropdown-item">
                                    None
                                </a>
                                {% for i in range(twitter_accounts|length) %}
                                <a onclick="twitter_account_id = '{{ twitter_accounts[i][3] }}'" class="dropdown-item">
                                    {{twitter_accounts[i][2]}}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="level-item has-text-centered subtitle">
                        sur le serveur : {{bot_user_guilds[i].server_name}}
                    </div>
                    <div class="level-item">
                        <label class="subtitle" for="notif">
                            Notification :</label>
                        <input class="checkbox" id="notifs" type="checkbox" name="notifs" class="switch is-success"
                            {% if owned_guild in twitter_accounts.notification_activated_on %} checked="checked"
                            {% endif %} onclick="location.href=''">
                        <label class="subtitle after-checkbox"
                            for="notif">{% if owned_guild in twitter_accounts.notification_activated_on %}
                            Activé {% else %} Désactivé {% endif %}</label>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="level">
            <a class="level-item has-text-centered button twitter-invite" onclick="sendJsonData();">
                Sauvegarder
            </a>
        </div>
    </div>
</section>
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
{% endblock content %}