{% extends 'base.html'%}
{% block title %}
Twitter
{% endblock title %}
{% block twitter_active %} is-active {% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        {% if confirm_tw_added == True %}
        <div class="notification is-success">
            <button class="delete"></button>
            Bravo ! Votre compte twitter à été lié à votre compte.
            Vous pouvez passer à la configuration.
        </div>
        {% endif %}
        {% if tw_already_exist == True %}
        <div class="notification is-danger">
            <button class="delete"></button>
            Ce compte twitter est déja enregistré !
        </div>
        {% endif %}
        {% if tw_updated == True %}
        <div class="notification is-success">
            <button class="delete"></button>
            Les informations ont bien été enregistrées !
        </div>
        {% endif %}
        <div class="columns">
            <div class="column is-one-fifth"></div>
            <h1 class="title column">
                Bienvenue dans l'assistant de configuration de SociaBot {{username}} !
            </h1>
        </div>
        <div class="level">
            <a class="level-item has-text-centered button twitter-invite"
                href="https://api.twitter.com/oauth/authenticate?oauth_token={{ro_key}}">
                Connecter votre compte Twitter
            </a>
        </div>
        {% if twitter_accounts is not none %}
        <div id="twitter">
            <div class="tabs is-toggle scroll">
                <ul>
                    {% for i in range(bot_user_guilds|length) %}
                    <li class="{% if i == 0%}is-active {%endif%} server-list">
                        <a class="subtitle" onclick="openServer('{{bot_user_guilds[i].server_id}}', this);">
                            {{bot_user_guilds[i].server_name}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% for i in range(bot_user_guilds|length) %}
            <div class="twitter-update" id="{{bot_user_guilds[i].server_id}}" {% if i != 0%}style="display:none"
                {%endif%}>
                <div class="level {{bot_user_guilds[i].id}}">
                    <div class="level-item has-text-centered subtitle">
                        Utiliser le compte :
                    </div>
                    <div class="dropdown level-item has-text-centered twitter_accounts" id="use_account">
                        <div class="dropdown-trigger">
                            <button onclick="toggleDropdown(this);" class="button" aria-haspopup="true"
                                aria-controls="dropdown-menu">
                                <span id="item-selected">Selectionnez un compte</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu twitter_account_dropdown" id="use_account_dropdown" role="select">
                            <div class="dropdown-content">
                                <a onclick="twitter_account_id = 'None'; contentSelect(this, 'unselect');"
                                    class="dropdown-item">
                                    None
                                </a>
                                {% for n in range(twitter_accounts|length) %}
                                <a onclick="twitter_account_id = '{{ twitter_accounts[n]['id'] }}'; contentSelect(this, 'twitter');"
                                    class="dropdown-item">
                                    {{twitter_accounts[n]['twitter_name']}}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="level-item has-text-centered subtitle">
                        sur le serveur : {{bot_user_guilds[i].server_name}}
                    </div>
                    <div class="level-item">
                        <label class="subtitle" for="notif">
                            Notification :</label>
                        <input onclick="changeText(this);" class="checkbox" id="notifs" type="checkbox" name="notifs"
                            class="switch is-success" disabled>
                        <label class="subtitle after-checkbox" for="notif">Désactivé</label>
                    </div>
                    <div class="dropdown level-item has-text-centered channels_id" id="use_account">
                        <div class="dropdown-trigger">
                            <button onclick="toggleDropdown(this);" class="button" aria-haspopup="true"
                                aria-controls="dropdown-menu">
                                <span id="item-selected">Selectionnez un channel</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu twitter_account_dropdown" id="use_account_dropdown" role="select">
                            <div class="dropdown-content">
                                <a onclick="channel_id = 'None'; contentSelect(this, 'unselect');"
                                    class="dropdown-item">
                                    None
                                </a>
                                {% for n in range(channels[bot_user_guilds[i].server_id]|length) %}
                                <a onclick="channel_id = '{{ channels[bot_user_guilds[i].server_id][n]['id'] }}'; contentSelect(this, 'channel');"
                                    class="dropdown-item">
                                    {{channels[bot_user_guilds[i].server_id][n]['name']}}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="level">
            <a class="level-item has-text-centered button twitter-invite" onclick="sendJsonData(this);">
                Sauvegarder
            </a>
        </div>
    </div>
</section>
<script>
    var twitter = document.getElementById('twitter');
    var servers = twitter.children[0].children;
    var bot_user_guilds = JSON.parse('{{ bot_user_guilds | tojson | safe }}');
</script>
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
{% endblock content %}